/*#box1{
width: 200px;
height: 200px;
background-color: hsl(240, 20%, 54%);
position: fixed;
right: 0px;
bottom: 0px
}*/
#box2{
width: 200px;
height: 200px;
background-color: hsl(185, 68%, 49%);
position: fixed;
top: 100px;
left: 100px;
}
#box3{
width: 100px;
height: 100px;
background-color: hsl(0, 61%, 52%);
position: absolute;
top: 50px;
left: 50px;
}