.button{
background-color: rgb(145, 145, 234);
padding: 10px 20px;
color: white;
border-radius: 5px;
transition: background-color 0.25s;
cursor: pointer
}
.button:hover{
    background-color: #7272e7;
}
#visualCounter{
    text-align: center;
    display: block;
    font-size: 6em;
}
#btn{
    display: block;
    text-align: center;
}